{# templates/worker/success.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{message}}
    <h1>Email functionality</h1>
    {# You can display a success message or any other content here #}
{% endblock %}
